<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="{{ 'atom.xml' | relative_url}}"
	      rel="alternate" title="{{ site.title }}"
	      type="application/atom+xml"/>
	<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}"/>
	{% if site.favicon %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}"/>
	{% endif %}
	{% include head-custom.html %}
	<title>{{ page.title }} | {{ site.title }} </title>
  </head>
  <body>
      <header>
	  {% if site.logo %}<a href="{{ site.url | append: site.baseurl}}"><img id="logo" src="{{site.logo | relative_url}}" alt="{{ site.logo-alt | default: 'Logo' }}" /></a>{% endif %}
	  <div id="tbox">
              <span id="title">{{ site.title }}</span>
	      {% if site.description %}
              <p id="description">{{ site.description }}</p>
	      {% endif %}
	  </div>
      </header>
	  {% include header_pages.html %}
      <main>
      {{ content }}
      </main>
      <footer>{% include footer-custom.html %} <div>{% include footer_pages.html %}</div></footer>
    </div>
  </body>
</html>
